* {
    box-sizing: border-box;
    transition: scale 500ms;
}

body,
html {
    margin: 0;
    padding: 0;
}

:root {
    --neutral-00: hsl(0, 0%, 100%);
    --neutral-01: hsl(0, 0%, 90%);
    --neutral-02: hsl(0, 0%, 80%);
    --neutral-03: hsl(0, 0%, 70%);
    --neutral-04: hsl(0, 0%, 60%);
    --neutral-05: hsl(0, 0%, 50%);
    --neutral-06: hsl(0, 0%, 40%);
    --neutral-07: hsl(0, 0%, 30%);
    --neutral-08: hsl(0, 0%, 20%);
    --neutral-09: hsl(0, 0%, 10%);
    --neutral-10: hsl(0, 0%, 0%);
    --radius: 0.75rem;
    color-scheme: dark;
}

body {
    background-color: var(--neutral-09);
    color: var(--neutral-01);
    min-height: 100vh;
    gap: 2em;
    font-family: Roboto, system-ui, sans-serif;
    padding-bottom: 3rem;
}

main {
    padding: 2rem;
    max-width: 1080px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: clamp(2.2rem, 1.5225rem + 2.9296vw, 3.5rem);
    line-height: clamp(2.2rem, 1.5225rem + 2.9296vw, 3.5rem);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

#mode {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: clamp(1.8rem, 1.4352rem + 1.5775vw, 2.5rem);
    padding-block: 0.25rem;
    aspect-ratio: 1;
    cursor: pointer;
}

#tuto {
    display: none;

    #stats:empty+& {
        display: block;
    }
}

dialog::backdrop {
    background: #000c;
}

#stats button,
footer button,
#add {
    background: var(--neutral-08);
    display: block;
    width: 100%;
    border: 2px solid currentColor;
    border-radius: var(--radius);
    padding: 0.25rem auto;
    text-align: center;
    color: hsl(var(--hue), 100%, 80%);
    background-color: hsla(var(--hue), 50%, 50%, 60%);
    font-size: clamp(1.8rem, 1.4352rem + 1.5775vw, 2.5rem);
    margin-bottom: 0.5rem;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        outline: none;
        color: hsl(var(--hue), 100%, 90%);
        background-color: hsla(var(--hue), 50%, 50%, 70%);
    }
}

.stat {
    & strong {
        text-transform: capitalize;
        font-weight: normal;
        pointer-events: none;
    }

    & em {
        padding-left: 0.5rem;
        font-size: 0.4em;
        pointer-events: none;
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    scale: 1 0;
    transform-origin: bottom;

    [data-mode=roll] & {
        scale: 1 1;
    }

    & button {
        width: 6ch;
        height: 6ch;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(0.8rem, 0.6958rem + 0.4507vw, 1rem);
        background: var(--neutral-07);
    }


}

#roll {
    border-radius: var(--radius);

    & #result {
        font-weight: bold;
        text-align: center;
        font-size: 1.3rem;

        &.critFail {
            color: red;
            text-shadow: 0 0 1rem orange;
        }

        &.fail {
            color: orange;
        }

        &.hit {
            color: lightgreen;
        }

        &.critHit {
            color: green;
            text-shadow: 0 0 1rem lightgreen;
        }
    }
}

#editStat {
    border-radius: var(--radius);
    text-align: center;
}

#statForm {
    text-align: left;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

#add {
    scale: 0 1;
    border: 2px dashed var(--neutral-05);

    [data-mode=edit] & {
        scale: 1 1;
    }
}

#dice {
    width: 6ch;
    height: 6ch;
    font-size: 2.2rem;
    text-align: center;
    margin-block: 1rem;
    margin-inline: auto;
    position: relative;
    padding-top: 2.3rem;
    padding-right: 0.7rem;

    &::before {
        z-index: -1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(50deg);
        background-image: url(./d10.svg);
        content: '';
        inset: 0;
        position: absolute;
    }
}

input:user-invalid {
    outline: 2px solid rgb(182, 28, 28);
}

input[type=reset] {
    background-color: rgb(182, 28, 28);
    color: var(--neutral-00);
    font-weight: bold;
    border-radius: var(--radius);
    border: none;
    outline: 2px solid #fff6;
    outline-offset: -2px;
}

input[type=submit] {
    background-color: rgb(33, 107, 33);
    color: var(--neutral-00);
    font-weight: bold;
    border-radius: var(--radius);
    border: none;
    outline: 2px solid #fff6;
    outline-offset: -2px;
}
